@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Jost";
  color: #333;
}

/* NAVIGATION BAR */
.navbar {
  padding: 20px 20px 30px 20px;
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #81c3d7;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #81c3d7;
}

/* FOOTER */
footer{
  display: flex;
  justify-content: center;
  align-items: last baseline;
  height: 10vh;
  padding-bottom: 25px;

}

/* INTRODUCTION */
.introduction {
  height: 60vh;
  padding: 50px;
  background: #cbe6ef;
  color: #010b43;
  }

  